
{% block content %}
  <h2>Your Dashboard</h2>

  {% if content_with_details %}
    <ul>
      {% for content in content_with_details %}
        <li>
          <img src="http://image.tmdb.org/t/p/w500/{{ content.cover }}" alt="{{ content.name }} Cover">
          <p>{{ content.name }} - {{ content.category }}</p>
          <p>Rating: {{ content.rating }}</p>
          <p>Review: {{ content.review }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No content added to your dashboard yet.</p>
  {% endif %}
{% endblock %}
