{% include "index/header.html" %}
{% block content %}
    <aside class="hero-section">
      hi
    </aside>

    <aside class="trending-section">
      <div class="section-heading-part">
        <h3>Trending</h3>
        <ul class="heading-buttons">
          <li><a href="#">Tv Shows</a></li>
          <li><a href="#">Movies</a></li>
          <li><a href="#">Games</a></li>
        </ul>
      </div>
      <div class="items">
        <section>
          <ul class="user-button-content">
            <li><a href="#">add</a></li>
          </ul>
          <img src="http://image.tmdb.org/t/p/w500//oftZNfyTVNU7IfOqoGLoT8MGvNs.jpg" alt="">
          <h4>Outlander</h4>
          <div class="ratinganddate"><span class="release_date">2014</span> <span class="rating">8.213</span></div>
        </section>
        <section>
          <img src="http://image.tmdb.org/t/p/w500//hQSdrXBYTbLGHYDIseHkBOPXTgL.jpg" alt="">
          <h4>Penny Dreadful</h4>
          <div class="ratinganddate"><span class="release_date">2014</span> <span class="rating">7.8</span></div>
        </section>
        <section>
          <img src="http://image.tmdb.org/t/p/w500//u1z05trCA7AuSuDhi365grwdos1.jpg" alt="">
          <h4>Scrubs</h4>
          <div class="ratinganddate"><span class="release_date">2001</span> <span class="rating">8.029</span></div>
        </section>
        <section>
          <img src="http://image.tmdb.org/t/p/w500//uuot1N5AgZ7xRCKgm4ZCwOhgIJu.jpg" alt="">
          <h4>Gen V</h4>
          <div class="ratinganddate"><span class="release_date">2023</span> <span class="rating">8.141</span></div>
        </section>
      </div>
    </aside>
  </div>
{% endblock %}
  {% include 'index/footer.html' %}
