{% load static %}
<footer id="footer">
    <div class="container">
      <aside class="footer-sections">
        <section>hi</section>
        <section>hi</section>
        <section>hi</section>
      </aside>
      <aside class="footer-bottom-part">
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </aside>
    </div>
  </footer>
  <script src="{% static '/watcher/javascript.js' %}"></script>
</body>
</html>
