{% include "index/header.html" %}
{% block content %}
<aside class="register-section">
  <div class="section-heading-part">
      <h3>Sign up to Watcher</h3>
  </div>
  <form id="form" action="{{form.action}}" method="post">
    <table>
      {% csrf_token %}
      {{form}}
    </table>
    <div class="reset-password-buttons-group">
        <button class="button light">Submit</button>
        <a href="{%url 'auth-login' %}" class="button dark">Cancel</a>
    </div>
    </form>
</aside>
  </div>
{% endblock %}
  {% include 'index/footer.html' %}
